
* {
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

img,
button,
iframe,
a {
    user-select: none;
}

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:user-invalid {
    border: 1.5px solid rgba(255, 0, 0, 0.416);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.6s ease-out forwards;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroSwiper .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.45);
    opacity: 1;
}

.heroSwiper .swiper-pagination-bullet-active {
    background: #008DEB;
}

.heroSwiper .swiper-button-next,
.heroSwiper .swiper-button-prev {
    color: #008DEB;
}

.heroSwiper .swiper-button-next:after,
.heroSwiper .swiper-button-prev:after {
    font-size: 18px;
    font-weight: 700;
}